:root {
  /* Color Palette */
  --primary-color: #000000;
  --secondary-color: #14213D;
  --accent-color: #FCA311;
  --tertiary-color: #E5E5E5;
  --quaternary-color: #FFFFFF;

  /* Background and Text Colors */
  --bs-body-bg: var(--primary-color);
  --bs-body-color: var(--accent-color);

  /* Font */
  --bs-body-font-family: 'Oswald', sans-serif;
  --bs-body-font-size: 1.4rem;

  /* Links */
  --bs-link-color: var(--secondary-color);
}

.nav-pills {
  /* Nav Pills */
  --bs-nav-pills-link-active-color: var(--secondary-color);
  --bs-nav-pills-link-active-bg: var(--bs-body-color);
}

.list-group {
  /* List Group */
  --bs-list-group-bg: var(--quaternary-color);
}

.list-group-item {
  /* List Group Item */
  --bs-list-group-border-color: var(--accent-color);
  --bs-list-group-color: var(--bs-body-color);
}
